<div class="calculation-modal">
	<table>
		<tr>
			<td><b>AIVD</b></td><td>{{aivd}}</td>
		</tr>
		<tr>
			<td><b>MNA</b></td><td>{{mna}}</td>
		</tr>
		<tr>
			<td><b>MMT</b></td><td>{{mmt}}</td>
		</tr>
		<tr>
			<td><b>Riesgo Hematológico</b></td><td>{{h_toc}} <span class="hem-{{h_toc}}">{{hem_str}}</span></td>
		</tr>
		<tr>
			<td><b>Riesgo No Hematológico</b></td><td>{{non_h_tox}}
			<span class="non-hem-{{non_h_tox}}">{{non_hem_str}} </span></td>
		</tr>
		<tr>
			<td><b>Riesgo Combinado</b></td><td>{{comb_h_tox}}
			<span class="comb-{{non_h_tox}}">{{comb_hem_str}} </span>
			</td>
		</tr>

	</table>
</div>